/* css styles */
.sidebar nav[role="doc-toc"] ul > li > a.active {
    color: white !important;
    background-color: #060047;
    font-weight: bold;
}


a.nav-link:hover {
      color:  #060047 !important;
}

.title{
  color:  #060047 !important;
}

.level2.h2 {
  color:  #060047 !important;
}

  .title {
    font-size: 3em;
    color: #060047;
  }

  .subtitle {
    font-size: 2em;
  }

  .quarto-title-author {
    color: #060047;
  }
}